{% extends 'base.html' %}
{% block title %}Books Page{% endblock %}


{% block content %}
<h1>Books</h1>

{% if books %}

        {% for book in books %}
            <div class="row mb-4">
                <div class="col-2">
                    <img src="{{ book.cover_picture.url }}" class="cover_pic" alt="">
                </div>

                <div class="col-6 ms-5">
                    <a href="{% url 'books:detail' book.id %}">{{book.title}}</a>

                    <p>{{ book.description }}</p>
                </div>
            </div>

        {% endfor %}

{% else %}
        <h3>No books found</h3>
{% endif %}

{% endblock %}